body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0; /* アプリケーション全体の背景色 */
  color: #333; /* 基本的な文字色 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  /* 必要に応じて #root 要素のスタイルを設定 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  padding: 20px;
  min-height: 100vh; /* 少なくとも画面の高さにする */
  box-sizing: border-box;
}
